body{
    font-family: Arial, Helvetica, sans-serif;
}
.googlelogodiv{
    text-align: center;
    margin-top: 170px;
    margin-bottom: 30px;
}
#googlelogo{
height: 14.5%;
width: 14.5%;
}
.sbdivdiv{
    text-align: center;
    margin-left: 630px;
}
.searchbardiv{
    text-align: center;
   background-color: white;
   height: 43px;
   width: 600px;
border-radius: 35px;
border:1px solid #e0e0e0;
border-color: internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
padding-bottom: 5px;
}
#searchbar{
    width: 500px;
 font-size: 15px;
 border-color: transparent;
}
.searchbardiv:hover{
    box-shadow: gray 1px 1px 1px;   
}
#searchicon{
    width: 18px;
    height: 18px;
    margin-right: 30px;
    opacity: 0.6;
}
#searchbutton{
    text-align: center;
    margin-top: 15px;
}
#searchbutton1{
margin-right: 15px;
}
#searchbutton2{
margin-left: 15px;
}
#searchbar:focus{
    outline: none;
    border-color: transparent;}
#searchbar:hover{
    outline: none;
    border-color: transparent;
}

.searchbuttons{
    color:#5F6368;
    height: 32px;
    width: 130px;
    background:#f2f2f2;
    border-radius: 5px;
    border: transparent;
}
.searchbuttons:hover{
    color: black;
    background-color: #f2f2f2 ;
    cursor: pointer;
    border: 1px solid rgb(195, 195, 195) ;    
}
.text{
    text-align:center;
    font-size: 13px;
    margin-top: 25px;
}
.topofpagediv{
    margin-top: 20px;
    margin-right: 10px;
    font-size: 13px;
}
.topofpage{
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#gmail{
margin-right: 25px;
}
#images{
    margin-right: 25px;
}
#squares{
    margin-right: 25px;
    margin-top: -5px;
    opacity: 0.5;
}
#squares:hover{
    opacity: 1;
    cursor: pointer;
}
#signin{
    text-decoration: none;
    color: white;
    border-top: 8px solid #4285f4;
    border-right: 12px solid#4285f4;
    border-left: 12px solid #4285f4;
    border-bottom: 8px solid #4285f4;
    background-color: #4285f4;
    border-radius: 3px;
}
#signin:hover{
    cursor: pointer;
    color: black;
}
#userphoto{
 height: 1%;
}
.topa{
    text-decoration: none;
    color: black;
}
.topa:hover{
    text-decoration: underline black;
}
.brazildiv{
    background-color: #f0f0f0;
    height: 35px;
    width: 100%;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    position: absolute;
    bottom: 35px;
    color: gray;
}
#brazil{
    margin-top: 10px;
    margin-left: 20px;
}
.bottomdiv{
    background-color: #f0f0f0;
    height: 35px;
    width: 100%;
    color: gray;
    position: absolute;
    bottom: 0px;
}
.bottomul{
    text-align: right;
    display: flex;
    flex-direction: row;
    color: grey;
}
.bottoma1{
    color: grey;
    text-decoration: none;
}
.bottoma1:hover{
    text-decoration: underline grey;
}
#adv{
    margin-left: 20px;
    margin-top: 10px;
}
#bus{
    margin-left: 20px;
    margin-top: 10px;
}
#about{
    margin-left: 20px;
    margin-top: 10px;
}
#hsw{
    margin-left: 20px;
    margin-top: 10px;
}
.bottoma2{
    color: grey;
    text-decoration: none;
}
.bottoma2:hover{
    text-decoration: underline grey;
}
#priv{
    margin-left: 1250px;
    margin-top: 10px;
}
#terms{
    margin-left: 20px;
    margin-top: 10px;
}
#set{
    margin-left: 20px;
    margin-top: 10px;
}